.menu_item {
  color: #fff;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 0 10px #ccc;
  background: #fff no-repeat center;
  background-size: cover;
  transition: .5s ease;
}

.menu_item:hover {
  transform: scale(1.02);
}

.menu_item > span {
  display: block;
  font-size: 1.5rem;
  opacity: .5;
  padding: 10px 20px;
  padding-bottom: 4px;
}

.title {
  font-size: 2rem;
  padding: 0 20px;
  font-weight: normal;
}